/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif; /* Apply Poppins globally */
  background-color: #faf9ff; /* Main background color */
  color: #353535; /* Default text color */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif; /* Apply Poppins to headings as well */
}

/* Add any other global styles you need here */
